body {
    margin: 20px
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    border-bottom: 1px solid black;
    text-align: center;
}

h4 {
    border-bottom: 1px solid black;
}

.para1 {
    text-indent: 50px;
    text-rendering: geometricPrecision;
}

h2 {
    border-bottom: 1px solid black;
    font-weight: 100;
    font-family: 'Times New Roman', Times, serif;
}

h3 {
    text-indent: 20px;
    font-weight: 300;
}
